@import 'tailwindcss';
@import './fonts.css';

/* these imports are to prevent shifting of the sections */
@import '@css/layouts/sections/header.css';
@import '@css/layouts/sections/primary-menu.css';
@import '@css/layouts/sections/secondary-menu.css';
@import '@css/layouts/sections/lang-selector.css';
@import "@css/pages/website/expertise/sections/expertise-header.css";
@import "@css/components/text-block-image-component.css";
@import "@css/pages/website/expertise/webdevelopment.css";
@import "@css/pages/website/sections/our-expertises.css";
@import "@css/components/cta-block-component.css";
@import "@css/pages/website/sections/contact-information.css";
@import "@css/components/forms/input-component.css";
@import "@css/pages/website/contact.css";
@import "@css/pages/website/sections/contact-form.css";
@import "@css/components/forms/textarea-component.css";
@import "@css/components/button-component.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-sans: Instrument Sans, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-grotesk: Grotesk, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-gilroy: Gilroy, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);
    --text-base: 1.1rem;
    --text-7xl: 4rem;

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-border: var(--border);

    --color-primary: var(--primary);
    --color-primary-light: var(--primary-light);
    --color-primary-hover: var(--primary-hover);
    --color-primary-medium: var(--primary-medium);
    --color-primary-dark: var(--primary-dark);
    --color-primary-darkest: var(--primary-darkest);
    --color-secondary: var(--secondary);
    --color-footer-text: var(--footer-text-color);
    --color-gradient: var(--gradient);
    --color-dark: var(--dark);

    --gap-page: 6rem;
    --gap-form: 2rem;
    --margin-page: var(--gap-page);
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@layer utilities {
    body,
    html {
        font-size: 14px;
        --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }
}

:root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(0 0% 3.9%);
    --primary: hsl(206, 100%, 50%);
    --border: #ebf4f7;
    --primary-light: hsl(195, 44%, 96%);
    --primary-hover: hsl(200, 27%, 94%);
    --primary-medium: hsl(206, 59%, 71%);
    --primary-dark: hsl(206, 100%, 50%);
    --primary-darkest: hsl(228, 47%, 46%);
    --secondary: hsl(36, 98%, 50%);
    --footer-text-color: hsl(210, 53%, 48%);
    --dark: rgb(62 83 171);
    --gradient: #3e53ab;
    --radius: 0.5rem;
    --margin-page: var(--gap-page);
}

@layer base {
    body {
        @apply bg-background text-foreground;
    }

    .container {
        @apply mx-auto px-4;
    }

    p, li {
        @apply font-grotesk font-medium text-primary-darkest text-base;
    }

    a {
        @apply cursor-pointer;
    }
}

*:focus {
    outline: none !important;
    box-shadow: none !important;
}

.grecaptcha-badge {
    @apply invisible;
}

button{
    @apply cursor-pointer;
}

.page-grid{
    @apply grid grid-cols-1 gap-page;
}

