.section-website-content-block {

    .container {
        @apply py-10 lg:py-14;

        * {
            @apply text-dark;
        }

        .text {
            >*:not(:last-child) {
                @apply mb-6;
            }

            p {
                @apply text-lg leading-loose;
            }

            h2 {
                @apply font-gilroy font-bold text-4xl !mb-3;
            }

            h3 {
                @apply font-gilroy font-bold text-2xl !mb-3;
            }

            ul {
                @apply list-disc pl-5;
            }

            ol {
                @apply list-decimal pl-5;
            }

            a {
                @apply underline font-bold text-secondary;
            }
        }

        .image-container,
        .img-wrapper {
            @apply w-full aspect-[4/3] h-auto;
        }

        &.text {}

        &.image {
            .image-container {
                @apply aspect-auto;
            }

            img {
                @apply w-full;
            }
        }

        &.image_text {
            img {
                @apply object-cover object-center w-full h-full;
            }

            .grid-layout {
                @apply grid grid-cols-1 xl:grid-cols-2 gap-14 xl:gap-24 items-center;
            }
        }

        &.number_text,
        &.logo_text {
            @apply border-b border-gray-200;

            .grid-layout {
                @apply relative grid grid-cols-1 lg:grid-cols-6 gap-14 xl:gap-24 items-start;
            }

            .text {
                @apply lg:col-span-4;
            }
        }

        &.number_text {
            .title {
                @apply col-span-2 grid grid-cols-4;
            }

            .number-wrapper {
                @apply col-span-1;
            }

            h4 {
                @apply inline-block text-secondary font-gilroy font-bold text-3xl text-center border-b-4 border-secondary pb-4;
            }

            h2 {
                @apply col-span-3 font-gilroy font-bold text-4xl;
            }
        }

        &.logo_text {
            .grid-layout {
                @apply items-center;
            }

            .text * {
                @apply font-gilroy text-2xl;
            }

            .img-wrapper {
                @apply lg:col-span-2 max-w-[300px] mx-auto;
            }

            img {
                @apply object-contain object-center w-full h-full;
            }
        }


        &.cards {
            .grid-layout {
                @apply 2xl:flex gap-10 items-start grid lg:grid-cols-2;
            }

            .card {
                @apply bg-primary-light p-10 flex flex-col items-center text-center w-full rounded-2xl;
            }

            .img-wrapper {
                @apply w-16 h-16 bg-white p-3 mb-6 rounded-full flex items-center justify-center;
            }

            h3 {
                @apply font-gilroy font-bold text-3xl;
            }
        }
    }
}

#page-website-blog-item {
    .cards {

        .card {
            @apply bg-white;
        }

        .img-wrapper {
            @apply bg-primary-light;
        }
    }
}
