.section-website-our-blogs {
    @apply py-(--margin-page) border-b-20 border-b-border bg-primary-light;

    .container {
        @apply flex flex-col gap-10;

        .titles {
            @apply mb-14 flex flex-col-reverse gap-4;
        }

        .inner-container-our-blogs {
            @apply relative grid grid-cols-1 xl:grid-cols-3 gap-6;
        }

        .button {
            @apply flex justify-end;
        }
    }
}
